<h1>add products</h1>
<div class="product">

  <form id="addProductForm" action="/api/products" method="post">
    <input type="text" placeholder="Title" name="title" />
    <br />
    <input type="text" placeholder="Description" name="description" />
    <br />
    <input type="number" placeholder="Price" name="price" />
    <br />
    <input type="text" placeholder="Code" name="code" />
    <br />
    <input type="number" placeholder="Stock" name="stock" />
    <br />
    <input type="text" placeholder="Status" name="status" />
    <br />
    <input type="text" placeholder="Category" name="category" />
    <br />
    <input type="text" name="thumbnail" placeholder="Image URL" />
    <br />
    <button class="addProductButton">create</button>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="/js/addProducts.js"></script>