<div class="forgotPassword">
  <h1>forgot password?</h1>
  <h4>Enter the email address you user when you joined and we'll send you
    instructions to reset your password.</h4>
  <h5>For security reasons, we do NOT store your password, so rest assured that
    we will never send your password via email.</h5>

  <p id="error">{{error}}</p>

  <form action="/api/sessions/forgot-password" method="post">
    <input type="email" placeholder="email address" name="email" />
    <br />
    <button>send reset instructions</button>
  </form>
</div>