<div class="resetPassword">
  <h1>reset your password</h1>
  <h4>Enter your new password</h4>

  <p id="error">{{error}}</p>

  <form action="/api/sessions/reset-password?token={{token}}" method="post">
    <input type="password" placeholder="new password" name="newPassword" />
    <br />
    <button>Reset password</button>
  </form>
</div>