.div {
  margin: 5rem auto;
  align-items: center;
  width: 50%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px black solid;
}

.detail {
  display: flex;
  justify-content: center;
}

img {
  width: 20rem;
}

.detailText {
  display: block;
  margin-block: 5rem;
  margin-left: 4rem;
}

h4,
h5,
h6 {
  margin-bottom: 2rem;
}

input {
  padding-block: 10px;
  padding-inline: 1rem;
  text-align: center;
}

button {
  background-color: transparent;
  border: 1px solid black;
  margin-block: 1rem;
  padding-block: 10px;
  padding-inline: 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:not(:disabled):hover {
  background-color: black;
  color: white;
}

.addToCart:disabled {
  cursor: not-allowed;
  border: none;
  padding-inline: 0;
}
