h1 {
  margin-top: 10rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 3rem;
}
#userInfo {
  margin-bottom: 1rem;
}

#userInfo img {
  width: 8rem;
  margin-top: 1rem;
}

#name {
  text-transform: capitalize;
}

h5 {
  color: mediumseagreen;
  margin-block: 1rem;
}

h6 {
  color: tomato;
  margin-block: 1rem;
}

.profile a {
  text-transform: uppercase;
  color: dimgrey;
  cursor: pointer;
  transition: color 0.3s ease, color 0.3s ease;
}

a:hover {
  color: black;
  font-weight: bold;
}

.profile {
  padding-bottom: 10rem;
  text-align: center;
}

button {
  font-size: small;
  background-color: transparent;
  border: 1px solid black;
  margin-block: 3rem;
  padding-block: 10px;
  padding-inline: 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: black;
  color: white;
}
