<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PROYECTO FINAL | CASATTI</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/{{style}}" />
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/login">log in</a>
      <a href="/signup">sign up</a>
      <a href="/profile">profile</a>
      <a href="/shop">shop</a>
      <a href="/cart"><img
          src="https://res.cloudinary.com/dqrgdohtt/image/upload/v1706134206/shopping-cart_yynxdt.png"
          alt="cart"
        /></a>
    </nav>
    {{{body}}}
    <footer>
      <ul>
        <li><a href="/api/admin">admin dashboard</a></li>
        <li><a href="/shop">shop</a></li>
        <li><a href="/">about</a></li>
        <li><a href="mailto:valeria.casatti@gmail.com">contact</a></li>
      </ul>
    </footer>
  </body>

</html>